* {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(images/vivid-blurred-colorful-wallpaper-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.nav-btn {
  margin-left: auto;
  margin-right: 10px;
  padding: 10px 20px;
  background: transparent;
  border: 1.5px solid black;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 13px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.card{
  display: flex;
  width: 900px;
  height: 500px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.card-left{
  flex: 1;
  background: #9adfff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left img{
  width: 100%;
  height: auto;
}

.card-right{
  flex: 1;
  padding: 30px;
}

.card-right h2 {
  font-size: 36px;
  font-weight: 700;         
  color: #7bbcff;          
  text-align: center;
  margin-bottom: 24px;
  margin-top: 5px;
}


.card-right form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-right input {
  padding: 10px;
  border: 1px solid #ccc;
}

.checkbox {
  font-size: 12px;
}

.Submit {
  margin-top: 10px;
  padding: 12px;
  background: #2b2b2b;   
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.social-login{
  margin-top: 20px;
  text-align: center;
}

.or{
  font-size: 12px;
  color: #999;
  display: block;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon img {
  width: 24px;
  height: 24px;
}
